// Colors
$primary: #a22428;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Forms
$form-select-focus-border-color:  #FBE9E7;
$form-select-focus-border-box-shadow: inset 0px 0px 0px 1px #FBE9E7;

