
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,400i,600,700&subset=latin-ext);

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
        padding: 6px 15px;
        height: 84px;

        img {
                max-width: 100%;
                max-height: 72px;
        }
}

