// Root
:root {
        --cas-theme-primary-bg: rgb(21, 62, 80, 0.2);
        --cas-theme-primary: #a22428; /* #1b304a; */
        --mdb-primary: var(--cas-theme-primary, #1b304a); 
        --mdb-primary-rgb: 162, 36, 40;
        
        --cas-theme-primary-title-color: #cc2c32;
}

// Body
body {
    background: url("../images/UK-background.png") fixed center top repeat-y var(--cas-theme-primary-bg);
}

// Navbar
.navbar {
	--mdb-navbar-padding-x: 1rem;
	--mdb-navbar-padding-y: 0rem;
	--mdb-navbar-padding-top: 0rem;	
}

.navbar-title {
	//padding-top: 0.5rem;
	//padding-bottom: 0.5rem;
	padding-left: 1em;
	padding-top: 0.25rem;
	color: rgb(0,0,0);
	font-size: 1.25rem;
	
	.subtitle {
    	display: block;
    	position:relative;
    	bottom: 0.5rem;
	    //height: 1.5em;
	    overflow: visible;
    	font-size: small;
	    color: var(--cas-theme-primary-title-color);
	}
}
